<!DOCTYPE html><html><head><meta charset="utf-8"><title>fame_is_a_fickle_food</title><style></style></head><body id="preview">
<h3><a id="A_Painting_of_Emily_Dickinson_Acrylics__Dec_6_2012_0"></a>A Painting of Emily Dickinson (Acrylics) – Dec 6, 2012</h3>
<p>A pretty bad painting I did of Emily Dickinson. If you squint your eyes it looks a little better. Below is my favorite poem by her, Fame is a fickle food:</p>
<h5><a id="Fame_is_a_Fickle_Food_4"></a>Fame is a Fickle Food</h5>
<p>Fame is a fickle food<br>
Upon a shifting plate<br>
Whose table once a<br>
Guest but not<br>
The second time is set.</p>
<p>Whose crumbs the crows inspect<br>
And with ironic caw<br>
Flap past to the farmer’s Corn –<br>
Men eat of it and die.</p>
<p>– Emily Dickinson (1830–86)</p>

</body></html>
