<!DOCTYPE html><html><head><meta charset="utf-8"><title>indian_summer</title><style></style></head><body id="preview">
<h5><a id="Indian_Summer_0"></a>Indian Summer</h5>
<p>These are the days when birds come back,<br>
A very few, a bird or two,<br>
To take a backward look.</p>
<p>These are the days when skies put on<br>
The old, old sophistries of June,—<br>
A blue and gold mistake.</p>
<p>Oh, fraud that can not cheat the bee,<br>
Almost thy plausibility<br>
Induces my belief,</p>
<p>Till ranks of seeds their witness bear,<br>
And softly through the altered air<br>
Hurries a timid lead!</p>
<p>Oh, sacrament of summer days,<br>
Oh, last communion in the haze,<br>
Permit a child to join,</p>
<p>Thy sacred emblems to partake,<br>
Thy consecrate bread to break,<br>
Taste thine immortal wine!</p>
<p>– Emily Dickinson</p>

</body></html>
